<!-- ==== HEADERWRAP ==== -->
<div id="headerwrap" id="home" name="home">
<header class="clearfix">
      <h1>SqueakyWheel</h1>
      <p>an app to help you provide feedback to corporations</p>
      <% if @current_user %>
      <%= link_to('Create Complaint', '/complaint/new', class: 'btn btn-primary marg', id: 'hero-btn') %>
      <% else %>
      <%= link_to('Create Complaint', '/login', class: 'btn btn-primary marg', id: 'hero-btn') %>
      <% end %>
      <p id="scroll-icon" class="fa fa-chevron-down fa-2x"></p>
  </header>     
</div><!-- /headerwrap -->
<!-- ==== GREYWRAP ==== -->
<div name="how" id="greywrap" >
  <div class="row">
    <h1 class="hiw">How It Works</h1>
    <div class="col-lg-4 callout">
      <span class="fa fa-plus fa-4x"></span>
      <h2>Create A Complaint</h2>
      <p>Easily create a complaint or feature request, and we ensure it gets to the team responsible for resolving your request.</p>
    </div><!-- col-lg-4 -->
    <div class="col-lg-4 callout">
      <span class="fa fa-users fa-4x"></span>
      <h2>Get Backed Up</h2>
      <p>After you create a complaint our community of users will up vote your complaint or feature if they like it. For each up vote a complaint receives, we send a new email with a prepopulated description of the issue to the company.</p>
    </div><!-- col-lg-4 -->
    <div class="col-lg-4 callout">
      <span class="fa fa-thumbs-up fa-4x"></span>
      <h2>Up Vote</h2>
      <p>Back up other users in the community by up voting their complaints. This helps inform the company that multiple users are being affected by the issue, ideally helping them better prioritize which issues to resolve first.</p>
    </div><!-- col-lg-4 -->
  </div><!-- row -->
</div><!-- greywrap -->
<!-- ==== TOP 10 COMPLAINTS ==== -->
<div class="container" id="d3Main" name="about">
    <!-- ==== SCRIPT CALLING D3 ==== -->
    <script src="//d3js.org/d3.v4.min.js"></script>
    <h1 class="centered">Top 10 Complaints</h1>
    <!-- ==== SVG ELEMENT FOR D3 VISUALIZATION ==== -->
    <svg class="svg" width="500" height="300"></svg>
    <!-- ==== BEGIN SCRIPT FOR D3 VISUALIZATION ==== -->
    
    <script>
      $.ajax({
        url: 'complaints/data',
        dataType: 'text',
        success: function(data) {ready(data);}
      });
      function ready(data) {
        // var data = [4, 8, 15, 16, 23, 42];
        console.log(data);
        data = JSON.parse(data);
        d3.select(".svg")
          .selectAll("rect")
          .data(data)
          .enter().append("rect")
          .attr("y", function(d, i) {
            return i * 21;
          })
          // .style("fill", "#1A732D")
          .style("width", function(d) { return d.vote_count * 100 + "px"; })
          .style("height", 20 + "px")
          .text(function(d) { return d.title; });
        //   console.log(data);
      };

    </script>
    <!-- ==== END SCRIPT FOR D3 VISUALIZATION ==== -->
    <br>
    <%= link_to('All Complaints', '/complaints', class: 'btn btn-primary center-btn', id: 'center-btn') %>
</div><!-- container -->
<!-- ==== TEAM MEMBERS ==== -->
<div class="greywrap" id="team" name="team">
  <div class="container team-section greywrap">
    <h1 class="centered">MEET OUR AWESOME TEAM</h1>
    <hr>
    <br>
    <br>
    <div class="col-lg-4 centered">
      <img class="img img-circle" src="<%= asset_path 'team01.jpg' %>" height="120px" width="120px" alt="">
      <br>
      <h4><b>Ivar Lee</b></h4>
      <p>Mike combines an expert technical knowledge with a real eye for design. Working with clients from a wide range of industries, he fully understands client objectives when working on a project, large or small.</p>
    </div><!-- col-lg-3 -->  
    <div class="col-lg-4 centered">
      <img class="img img-circle" src="<%= asset_path 'team02.jpg' %>" height="120px" width="120px" alt="">
      <br>
      <h4><b>Chris Madison</b></h4>
      <p>Chris is an experienced Product Manager passionate about building products to help businesses and their customers succeed. He is currently serving as the front-end developer, database architect and administrator, as well as product manager for SqueakyWheel.io.</p>
    </div><!-- col-lg-4 -->  
    <div class="col-lg-4 centered">
      <img class="img img-circle" src="<%= asset_path 'team03.jpg' %>" height="120px" width="120px" alt="">
      <br>
      <h4><b>Josh Mcbroom</b></h4>
      <p>Josh is a customer-focused full-stack developer, used to making every experience awesome. In addition to back-end development, he is rocking the git master role for SqueakyWheel.</p>
    </div><!-- col-lg-4 -->                           
  </div><!-- row -->
</div><!-- container -->
<div id="footerwrap">
  <div class="container">
    <h4>Created by <a href="http://blacktie.co">SqueakyWheel.io</a> - Copyright 2016</h4>
  </div>
</div>

