<div class="container">
  <h1>Edit a Complaint</h1>
  <%= bootstrap_form_for(:complaint) do |f| %>
    <%= f.text_field :title %>

    <%= f.text_area :description %>

    <%= f.file_field :screenshot %>
    
    <%= f.number_field :company_id %>

    <%= f.submit 'Create', class: 'btn btn-success'%>
  <% end %>
</div>