<div class="container pad">  
  <h1>Signup</h1>
  <%= bootstrap_form_for(:user) do |f| %>
    <%= f.text_field :name %>

    <%= f.email_field :email %>

    <%= f.password_field :password %>

    <%= f.password_field :password_confirmation %>

    <%= f.submit 'Signup', class: 'btn btn-success' %>
    <%= link_to('Signup with Facebook', '/auth/facebook', class: 'btn btn-primary') %>
  <% end %>
</div>
