<div class="container pad">
  <h1><%= @current_user.name %>'s Profile</h1>
  <p><%= @current_user.email %></p>
  <%= cl_image_tag(@current_user.screenshot) %>
  <div class="panel-group" id="accordion">
    <% @user_complaint.each do |complaint| %>
    <% puts complaint.inspect %>
    <div id='<%= complaint.id %>' class="panel panel-default">
      <div class="panel-heading">
        <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion" href="#collapse<%= complaint.id %>"><strong><%= complaint.title.upcase %> </strong><br>
        </a>
        </h4>
      </div>
      <div id="collapse<%= complaint.id %>" class="panel-collapse collapse in">
        <div class="panel-body">Description: <%= complaint.description %> <br>
          <%= cl_image_tag(complaint.screenshot, :width=>300, :height=>300, :crop=>"scale") %>
          <%= complaint.vote_count %>
          <%= link_to "Delete Complaint", complaint_delete_path(complaint.id), method: :delete, class: 'btn btn-danger' %>
        </div>
      </div>
    </div>
    <% end %>
  </div>
</div>
